* {
    box-sizing: border-box;
    color: #000;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: beige;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.whole-card {
    width: 326px;
    height: 374px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 50px 100px -20px rgb(8 70 94 / 50%);
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    background-image: url(/assets/images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    height: 140px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
}

.profile-image {
    top: 92px;
    position: relative; 
}

.profile-image img {
    border: 5px solid #fff;
    border-radius: 50%;
}

.body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 72px;
    position: relative;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #2E3349;
}

.age {
    font-size: 18px;
    font-weight: 400;
    color: #979797;
}

.user-location {
    top: 103px;
    color: #6B7082;
}

.footer {
    display: flex;
    flex-direction: row;
    bottom: 48px;
    position: relative;
    justify-content: space-evenly;
}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.numbers {
    color: #2e3349;
    font-size: 18px;
    font-weight: 700;
    
}

.footer-name {
    color: #6b7082;
    font-size: 10px;
    letter-spacing: 1.5px;
}
